# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\채희찬\공부\Inflearn_Spring_Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
